## Data Science tools and ecosystem

## Author
Thomas Pimlott

**Objectives**

- List of popular languages used by data scientists
- Common libraries used by data scientists
- Popular data science tools
- Examples of arithmetic expressions

In this markdown cell, data science and ecosystem are summarised

 Some of the popular languages that data scientists use are;

 1. Python
 2. Jupyter
 3. SQL

Some of the common libraries that data scientist use are;

1. Matplotlib
2. Numpy
3. Pandas

| Data Science tools |
|--------------------|
| Git |
| Apache Hadoop | 
| Tensor flow |

### Below are a few examples of arithmetic expressions

2*2 
7+3 
3.5*(5-3)

In [41]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [43]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335